NodeRed_flow_LOLINTmpr.json
[
    {
        "id": "1e59d6a3e5a88154",
        "type": "tab",
        "label": "LOLIN_Thermo",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ca376d73ba541abe",
        "type": "mqtt in",
        "z": "1e59d6a3e5a88154",
        "name": "Temperature",
        "topic": "home/thermometer/temperature",
        "qos": "2",
        "datatype": "json",
        "broker": "0e745f397e5b7cec",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 160,
        "wires": [
            [
                "3f4cb1d22bd0dfe4",
                "25cbb1a4af25fb0b"
            ]
        ]
    },
    {
        "id": "3f4cb1d22bd0dfe4",
        "type": "change",
        "z": "1e59d6a3e5a88154",
        "name": "TmprValue",
        "rules": [
            {
                "t": "move",
                "p": "payload.value",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 160,
        "wires": [
            [
                "d336e0ce41a7fbcc",
                "fb820ddf08dc2cae",
                "4fa6ad5dbe65ef9f",
                "8170ac4f122f046e",
                "c2c4ce9e2793123e",
                "428819455eab24e8"
            ]
        ]
    },
    {
        "id": "d336e0ce41a7fbcc",
        "type": "smooth",
        "z": "1e59d6a3e5a88154",
        "d": true,
        "name": "20 to 1",
        "property": "payload",
        "action": "mean",
        "count": "20",
        "round": "",
        "mult": "single",
        "reduce": true,
        "x": 570,
        "y": 400,
        "wires": [
            [
                "731368982ecf7dfe"
            ]
        ]
    },
    {
        "id": "fb820ddf08dc2cae",
        "type": "smooth",
        "z": "1e59d6a3e5a88154",
        "name": "10 to 1",
        "property": "payload",
        "action": "mean",
        "count": "10",
        "round": "",
        "mult": "single",
        "reduce": true,
        "x": 570,
        "y": 320,
        "wires": [
            [
                "2255909e335cb6f2"
            ]
        ]
    },
    {
        "id": "4fa6ad5dbe65ef9f",
        "type": "smooth",
        "z": "1e59d6a3e5a88154",
        "name": "40 to 1",
        "property": "payload",
        "action": "mean",
        "count": "40",
        "round": "",
        "mult": "single",
        "reduce": true,
        "x": 570,
        "y": 480,
        "wires": [
            [
                "bedc96ec3733c676"
            ]
        ]
    },
    {
        "id": "8170ac4f122f046e",
        "type": "ui-text",
        "z": "1e59d6a3e5a88154",
        "group": "9a3a1f181c9b4cfe",
        "order": 1,
        "width": "1",
        "height": "1",
        "name": "Temperature",
        "label": "Teplota [C]:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1030,
        "y": 160,
        "wires": []
    },
    {
        "id": "2255909e335cb6f2",
        "type": "change",
        "z": "1e59d6a3e5a88154",
        "name": "RoundTo2Decimal",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$round(payload, 2)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 320,
        "wires": [
            [
                "cb33d2ad43452282"
            ]
        ]
    },
    {
        "id": "feb63c859cdf16e8",
        "type": "ui-chart",
        "z": "1e59d6a3e5a88154",
        "d": true,
        "group": "9a3a1f181c9b4cfe",
        "name": "Tmpr 1hod",
        "label": "Teplota [C] za 1hod",
        "order": 3,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": false,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "6",
        "height": "5",
        "className": "",
        "interpolation": "linear",
        "x": 1030,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "cb33d2ad43452282",
        "type": "ui-chart",
        "z": "1e59d6a3e5a88154",
        "group": "9a3a1f181c9b4cfe",
        "name": "Tmpr 6hod",
        "label": "Teplota [C] za 6hod",
        "order": 4,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": false,
        "removeOlder": "6",
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "6",
        "height": "5",
        "className": "",
        "interpolation": "linear",
        "x": 1030,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "7e1a5cf5a191e007",
        "type": "ui-chart",
        "z": "1e59d6a3e5a88154",
        "d": true,
        "group": "9a3a1f181c9b4cfe",
        "name": "Tmpr 12hod",
        "label": "Teplota [C] za 12hod",
        "order": 5,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": false,
        "removeOlder": "12",
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "6",
        "height": "5",
        "className": "",
        "interpolation": "linear",
        "x": 1030,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "731368982ecf7dfe",
        "type": "change",
        "z": "1e59d6a3e5a88154",
        "d": true,
        "name": "RoundTo2Decimal",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$round(payload, 2)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 400,
        "wires": [
            [
                "7e1a5cf5a191e007"
            ]
        ]
    },
    {
        "id": "bedc96ec3733c676",
        "type": "change",
        "z": "1e59d6a3e5a88154",
        "name": "RoundTo2Decimal",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$round(payload, 2)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 480,
        "wires": [
            [
                "3fd336a0bb5520a0"
            ]
        ]
    },
    {
        "id": "3fd336a0bb5520a0",
        "type": "ui-chart",
        "z": "1e59d6a3e5a88154",
        "group": "9a3a1f181c9b4cfe",
        "name": "Tmpr 24hod",
        "label": "Teplota [C] za 24hod",
        "order": 7,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": false,
        "removeOlder": "24",
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "6",
        "height": "5",
        "className": "",
        "interpolation": "linear",
        "x": 1030,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "4bb2c5943184f3be",
        "type": "mqtt in",
        "z": "1e59d6a3e5a88154",
        "name": "Humidity",
        "topic": "home/thermometer/humidity",
        "qos": "2",
        "datatype": "json",
        "broker": "0e745f397e5b7cec",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 640,
        "wires": [
            [
                "98afe43557ae7cc1"
            ]
        ]
    },
    {
        "id": "98afe43557ae7cc1",
        "type": "change",
        "z": "1e59d6a3e5a88154",
        "name": "TmprValue",
        "rules": [
            {
                "t": "move",
                "p": "payload.value",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 640,
        "wires": [
            [
                "49b889d688c93d53",
                "3fe8d3f388db0bf8"
            ]
        ]
    },
    {
        "id": "49b889d688c93d53",
        "type": "ui-text",
        "z": "1e59d6a3e5a88154",
        "group": "9a3a1f181c9b4cfe",
        "order": 2,
        "width": "1",
        "height": "1",
        "name": "Humidity",
        "label": "Vlhkost [%]:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1020,
        "y": 640,
        "wires": []
    },
    {
        "id": "3fe8d3f388db0bf8",
        "type": "smooth",
        "z": "1e59d6a3e5a88154",
        "name": "40 to 1",
        "property": "payload",
        "action": "mean",
        "count": "40",
        "round": "",
        "mult": "single",
        "reduce": true,
        "x": 570,
        "y": 720,
        "wires": [
            [
                "2117bf5fbf678b14"
            ]
        ]
    },
    {
        "id": "487b2b9faa3e4410",
        "type": "ui-chart",
        "z": "1e59d6a3e5a88154",
        "group": "9a3a1f181c9b4cfe",
        "name": "Humi 24hod",
        "label": "Vlhkost [%] za 24hod",
        "order": 6,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": false,
        "removeOlder": "24",
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#ff0000",
            "#0080ff",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "6",
        "height": "5",
        "className": "",
        "interpolation": "linear",
        "x": 1030,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "2117bf5fbf678b14",
        "type": "change",
        "z": "1e59d6a3e5a88154",
        "name": "RoundTo2Decimal",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$round(payload, 2)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 720,
        "wires": [
            [
                "487b2b9faa3e4410"
            ]
        ]
    },
    {
        "id": "c2c4ce9e2793123e",
        "type": "smooth",
        "z": "1e59d6a3e5a88154",
        "name": "200 to 1",
        "property": "payload",
        "action": "mean",
        "count": "200",
        "round": "",
        "mult": "single",
        "reduce": true,
        "x": 580,
        "y": 560,
        "wires": [
            [
                "9a8e6b08924071e6"
            ]
        ]
    },
    {
        "id": "9a8e6b08924071e6",
        "type": "change",
        "z": "1e59d6a3e5a88154",
        "name": "RoundTo2Decimal",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$round(payload, 2)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 560,
        "wires": [
            [
                "f1f594a990aaf0f7"
            ]
        ]
    },
    {
        "id": "f1f594a990aaf0f7",
        "type": "ui-chart",
        "z": "1e59d6a3e5a88154",
        "group": "9a3a1f181c9b4cfe",
        "name": "Tmpr 7 dni",
        "label": "Teplota [C] za 7dni",
        "order": 8,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": false,
        "removeOlder": "168",
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "6",
        "height": "5",
        "className": "",
        "interpolation": "linear",
        "x": 1030,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "428819455eab24e8",
        "type": "smooth",
        "z": "1e59d6a3e5a88154",
        "d": true,
        "name": "2 to 1",
        "property": "payload",
        "action": "mean",
        "count": "2",
        "round": "",
        "mult": "single",
        "reduce": true,
        "x": 570,
        "y": 240,
        "wires": [
            [
                "0f9ad7090faee462"
            ]
        ]
    },
    {
        "id": "0f9ad7090faee462",
        "type": "change",
        "z": "1e59d6a3e5a88154",
        "d": true,
        "name": "RoundTo2Decimal",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$round(payload, 2)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 240,
        "wires": [
            [
                "feb63c859cdf16e8"
            ]
        ]
    },
    {
        "id": "25cbb1a4af25fb0b",
        "type": "function",
        "z": "1e59d6a3e5a88154",
        "name": "Struct_teplota",
        "func": "// Získa hodnotu teploty z MQTT payloadu (napr. 22.17)\nconst tempValue = msg.payload.value;\n\n// Nová štruktúra - posielame iba objekt 'fields'\n// Uzol InfluxDB out (s nastaveným Measurement: teplota) automaticky vezme toto ako fields.\nmsg.payload = {\n    value: tempValue\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 80,
        "wires": [
            [
                "6d0643c8e776c1ef"
            ]
        ]
    },
    {
        "id": "abadfc14f45a2a30",
        "type": "debug",
        "z": "1e59d6a3e5a88154",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 820,
        "wires": []
    },
    {
        "id": "6d0643c8e776c1ef",
        "type": "influxdb out",
        "z": "1e59d6a3e5a88154",
        "influxdb": "1a463d669d42977d",
        "name": "InfluxDB iot_data",
        "measurement": "teplota",
        "precision": "ms",
        "retentionPolicy": "seven_days",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 610,
        "y": 80,
        "wires": []
    },
    {
        "id": "c55911940b890721",
        "type": "inject",
        "z": "1e59d6a3e5a88154",
        "name": "Dopyt do DB",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ReadDdata",
        "payloadType": "str",
        "x": 120,
        "y": 900,
        "wires": [
            [
                "8807db686d3c576c"
            ]
        ],
        "info": "Note: msg.payload = (String)\"ReadDdata\" - is not relevant, it is ignored by DB"
    },
    {
        "id": "8807db686d3c576c",
        "type": "influxdb in",
        "z": "1e59d6a3e5a88154",
        "influxdb": "1a463d669d42977d",
        "name": "DB 7day",
        "query": "SELECT mean(\"value\") FROM \"teplota\" WHERE time > now() - 7d GROUP BY time(30m) fill(null) tz('Europe/Bratislava')",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "organisation",
        "x": 320,
        "y": 900,
        "wires": [
            [
                "abadfc14f45a2a30",
                "206d0696680d871d"
            ]
        ]
    },
    {
        "id": "206d0696680d871d",
        "type": "function",
        "z": "1e59d6a3e5a88154",
        "name": "function 1",
        "func": "// Predpokladáme, že vstupom je pole objektov v msg.payload\nconst data = msg.payload;\n\n// Názov série, ktorý sa zobrazí v legende grafu\nconst seriesName = \"teplota\"; \n\n// Premena dát na požadovaný formát\nconst chartData = data\n    // 1. FILTRÁCIA (voliteľné, ale odporúčané): Odstráni celé dátové body s null hodnotami,\n    // aby sa neobjavovali medzery v grafe, ak ich nechceme.\n    .filter(item => item.mean !== null && item.mean !== undefined)\n    \n    // 2. MAPOVANIE: Prevod zostávajúcich platných dát\n    .map(item => {\n        // Časová značka musí byť v milisekundách\n        const timestamp_ms = new Date(item.time).getTime();\n        \n        // Hodnota 'item.mean' je už v tomto bode zaručene číslo (nie null)\n        \n        // Zaokrúhlenie hodnoty 'mean' na 3 desatinné miesta\n        const roundedMean = parseFloat(item.mean.toFixed(3)); \n\n        // Vytvorenie objektu pre graf\n        return {\n            \"series\" : seriesName,\n            \"x\": timestamp_ms,\n            \"y\": roundedMean \n        };\n    });\n\n// Vytvorenie finálneho objektu pre Chart node\nmsg.payload = chartData\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 900,
        "wires": [
            [
                "67f5af1db598dbe4",
                "fa6bc264411495fa"
            ]
        ]
    },
    {
        "id": "67f5af1db598dbe4",
        "type": "debug",
        "z": "1e59d6a3e5a88154",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 1000,
        "wires": []
    },
    {
        "id": "fa6bc264411495fa",
        "type": "ui-chart",
        "z": "1e59d6a3e5a88154",
        "group": "9a3a1f181c9b4cfe",
        "name": "Teplota 7dni (DB)",
        "label": "Teplota z (DB)",
        "order": 9007199254740991,
        "chartType": "line",
        "category": "teplota",
        "categoryType": "str",
        "xAxisLabel": "",
        "xAxisProperty": "x",
        "xAxisPropertyType": "property",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "y",
        "yAxisPropertyType": "property",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "replace",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": false,
        "removeOlder": "7",
        "removeOlderUnit": "86400",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 770,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "0e745f397e5b7cec",
        "type": "mqtt-broker",
        "name": "Pihol broker",
        "broker": "192.168.241.111",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "9a3a1f181c9b4cfe",
        "type": "ui-group",
        "name": "Teplota",
        "page": "148a611776ecc792",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "1a463d669d42977d",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": 8086,
        "protocol": "http",
        "database": "iot_data",
        "name": "iot_data DB",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "timeout": 10,
        "rejectUnauthorized": true
    },
    {
        "id": "148a611776ecc792",
        "type": "ui-page",
        "name": "LOLIN Thermometer",
        "ui": "b9eab409d5cf2da1",
        "path": "/LOLIN",
        "icon": "home",
        "layout": "grid",
        "theme": "4b1b44b1246133af",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "b9eab409d5cf2da1",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "4b1b44b1246133af",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "7c3293a64f3595b6",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-node-smooth": "0.1.2",
            "@flowfuse/node-red-dashboard": "1.29.0",
            "node-red-contrib-influxdb": "0.7.0"
        }
    }
]