NodeRed_flow_LOLINTmpr.json
[
    {
        "id": "1e59d6a3e5a88154",
        "type": "tab",
        "label": "LOLIN_Thermo",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0e745f397e5b7cec",
        "type": "mqtt-broker",
        "name": "Pihol broker",
        "broker": "192.168.241.111",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b9eab409d5cf2da1",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "4b1b44b1246133af",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "148a611776ecc792",
        "type": "ui-page",
        "name": "LOLIN Thermometer",
        "ui": "b9eab409d5cf2da1",
        "path": "/LOLIN",
        "icon": "home",
        "layout": "grid",
        "theme": "4b1b44b1246133af",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "9"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "9a3a1f181c9b4cfe",
        "type": "ui-group",
        "name": "Teplota",
        "page": "148a611776ecc792",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "1a463d669d42977d",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": 8086,
        "protocol": "http",
        "database": "iot_data",
        "name": "iot_data DB",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "timeout": 10,
        "rejectUnauthorized": true
    },
    {
        "id": "ca376d73ba541abe",
        "type": "mqtt in",
        "z": "1e59d6a3e5a88154",
        "name": "Temperature",
        "topic": "home/thermometer/temperature",
        "qos": "2",
        "datatype": "json",
        "broker": "0e745f397e5b7cec",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 280,
        "wires": [
            [
                "3f4cb1d22bd0dfe4",
                "a36dc8e6f83690ab"
            ]
        ]
    },
    {
        "id": "3f4cb1d22bd0dfe4",
        "type": "change",
        "z": "1e59d6a3e5a88154",
        "name": "TmprValue",
        "rules": [
            {
                "t": "move",
                "p": "payload.value",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 280,
        "wires": [
            [
                "fb820ddf08dc2cae",
                "4fa6ad5dbe65ef9f",
                "8170ac4f122f046e",
                "c2c4ce9e2793123e"
            ]
        ]
    },
    {
        "id": "fb820ddf08dc2cae",
        "type": "smooth",
        "z": "1e59d6a3e5a88154",
        "name": "20 to 1",
        "property": "payload",
        "action": "mean",
        "count": "20",
        "round": "",
        "mult": "single",
        "reduce": true,
        "x": 610,
        "y": 360,
        "wires": [
            [
                "2255909e335cb6f2"
            ]
        ]
    },
    {
        "id": "4fa6ad5dbe65ef9f",
        "type": "smooth",
        "z": "1e59d6a3e5a88154",
        "name": "60 to 1",
        "property": "payload",
        "action": "mean",
        "count": "60",
        "round": "",
        "mult": "single",
        "reduce": true,
        "x": 610,
        "y": 440,
        "wires": [
            [
                "bedc96ec3733c676"
            ]
        ]
    },
    {
        "id": "8170ac4f122f046e",
        "type": "ui-text",
        "z": "1e59d6a3e5a88154",
        "group": "9a3a1f181c9b4cfe",
        "order": 1,
        "width": "1",
        "height": "1",
        "name": "Temperature",
        "label": "Temperature [C]:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1110,
        "y": 280,
        "wires": []
    },
    {
        "id": "2255909e335cb6f2",
        "type": "change",
        "z": "1e59d6a3e5a88154",
        "name": "RoundTo2Decimal",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$round(payload, 2)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 360,
        "wires": [
            [
                "cb33d2ad43452282"
            ]
        ]
    },
    {
        "id": "cb33d2ad43452282",
        "type": "ui-chart",
        "z": "1e59d6a3e5a88154",
        "group": "9a3a1f181c9b4cfe",
        "name": "Tmpr 6 hours",
        "label": "Temperature [C] per 6 hours",
        "order": 3,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": false,
        "removeOlder": "6",
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "6",
        "height": "5",
        "className": "",
        "interpolation": "linear",
        "x": 1110,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "bedc96ec3733c676",
        "type": "change",
        "z": "1e59d6a3e5a88154",
        "name": "RoundTo2Decimal",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$round(payload, 2)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 440,
        "wires": [
            [
                "3fd336a0bb5520a0"
            ]
        ]
    },
    {
        "id": "3fd336a0bb5520a0",
        "type": "ui-chart",
        "z": "1e59d6a3e5a88154",
        "group": "9a3a1f181c9b4cfe",
        "name": "Tmpr 24 hours",
        "label": "Temperature [C] per 24 hours",
        "order": 5,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": false,
        "removeOlder": "24",
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "6",
        "height": "5",
        "className": "",
        "interpolation": "linear",
        "x": 1120,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "4bb2c5943184f3be",
        "type": "mqtt in",
        "z": "1e59d6a3e5a88154",
        "name": "Humidity",
        "topic": "home/thermometer/humidity",
        "qos": "2",
        "datatype": "json",
        "broker": "0e745f397e5b7cec",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 600,
        "wires": [
            [
                "98afe43557ae7cc1",
                "a36dc8e6f83690ab"
            ]
        ]
    },
    {
        "id": "98afe43557ae7cc1",
        "type": "change",
        "z": "1e59d6a3e5a88154",
        "name": "TmprValue",
        "rules": [
            {
                "t": "move",
                "p": "payload.value",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 600,
        "wires": [
            [
                "49b889d688c93d53",
                "3fe8d3f388db0bf8"
            ]
        ]
    },
    {
        "id": "49b889d688c93d53",
        "type": "ui-text",
        "z": "1e59d6a3e5a88154",
        "group": "9a3a1f181c9b4cfe",
        "order": 2,
        "width": "1",
        "height": "1",
        "name": "Humidity",
        "label": "Humidity [%]:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1100,
        "y": 600,
        "wires": []
    },
    {
        "id": "3fe8d3f388db0bf8",
        "type": "smooth",
        "z": "1e59d6a3e5a88154",
        "name": "60 to 1",
        "property": "payload",
        "action": "mean",
        "count": "40",
        "round": "",
        "mult": "single",
        "reduce": true,
        "x": 610,
        "y": 680,
        "wires": [
            [
                "2117bf5fbf678b14"
            ]
        ]
    },
    {
        "id": "487b2b9faa3e4410",
        "type": "ui-chart",
        "z": "1e59d6a3e5a88154",
        "group": "9a3a1f181c9b4cfe",
        "name": "Humi 24 hours",
        "label": "Humidity [%] per 24 hours",
        "order": 4,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": false,
        "removeOlder": "24",
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#ff0000",
            "#0080ff",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "6",
        "height": "5",
        "className": "",
        "interpolation": "linear",
        "x": 1120,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "2117bf5fbf678b14",
        "type": "change",
        "z": "1e59d6a3e5a88154",
        "name": "RoundTo2Decimal",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$round(payload, 2)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 680,
        "wires": [
            [
                "487b2b9faa3e4410"
            ]
        ]
    },
    {
        "id": "c2c4ce9e2793123e",
        "type": "smooth",
        "z": "1e59d6a3e5a88154",
        "name": "300 to 1",
        "property": "payload",
        "action": "mean",
        "count": "300",
        "round": "",
        "mult": "single",
        "reduce": true,
        "x": 620,
        "y": 520,
        "wires": [
            [
                "9a8e6b08924071e6"
            ]
        ]
    },
    {
        "id": "9a8e6b08924071e6",
        "type": "change",
        "z": "1e59d6a3e5a88154",
        "name": "RoundTo2Decimal",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$round(payload, 2)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 520,
        "wires": [
            [
                "f1f594a990aaf0f7"
            ]
        ]
    },
    {
        "id": "f1f594a990aaf0f7",
        "type": "ui-chart",
        "z": "1e59d6a3e5a88154",
        "group": "9a3a1f181c9b4cfe",
        "name": "Tmpr 7 days",
        "label": "Temperature [C] per 7 days",
        "order": 6,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": false,
        "removeOlder": "168",
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "6",
        "height": "5",
        "className": "",
        "interpolation": "linear",
        "x": 1110,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "8807db686d3c576c",
        "type": "influxdb in",
        "z": "1e59d6a3e5a88154",
        "influxdb": "1a463d669d42977d",
        "name": "Tmpr DB 7day",
        "query": "SELECT mean(\"temperature\") FROM \"environment\" WHERE time > now() - 7d GROUP BY time(30m) fill(null) tz('Europe/Bratislava')",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "organisation",
        "x": 640,
        "y": 900,
        "wires": [
            [
                "206d0696680d871d"
            ]
        ]
    },
    {
        "id": "206d0696680d871d",
        "type": "function",
        "z": "1e59d6a3e5a88154",
        "name": "Tmpr IDB to Chart",
        "func": "/*\n * Input Influx DB message format:\n * Based on: SELECT mean(\"temperature\") FROM \"environment\" WHERE time > now() - 7d GROUP BY time(30m) fill(null) tz('Europe/Bratislava')\n * --------------------------------------------------------------\n * [ ...\n * {\"time\":\"2025-11-09T18:00:00.000Z\",\"mean\":null},\n * {\"time\":\"2025-11-09T18:30:00.000Z\",\"mean\":null},\n * {\"time\":\"2025-11-09T19:00:00.000Z\",\"mean\":21.964823529411788},\n * {\"time\":\"2025-11-09T19:30:00.000Z\",\"mean\":21.859259259259243},\n * {\"time\":\"2025-11-09T20:00:00.000Z\",\"mean\":21.799594594594634},\n *   ... ]\n * \n * Output data format for Chart Node:\n * --------------------------------------------------------------\n * msg.topic = \"Temperature\"\n * msg.payload = \n * [\n *      {\"x\":1762714800000,\"y\":21.965},\n *      {\"x\":1762716600000,\"y\":21.859},\n *      {\"x\":1762718400000,\"y\":21.8},\n *      ...\n * ]\n * */\n\n// Array of objects in msg.payload\nconst data = msg.payload;\n\n// Name of series for chart (for legend)\nconst seriesName = \"Temperature\"; // 'Show Legend' must be enabled on Chart Node\n\n// Data conversion to output format:\nconst chartData = data\n    // 1. Filtration - remove data points with 'null' value\n    // (to avoid empty space in graph-line of the Chart node)\n    .filter(item => item.mean !== null && item.mean !== undefined)\n    \n    // 2. Mapping\n    .map(item => {\n        // Timestamp in mili-sec\n        const timestamp_ms = new Date(item.time).getTime();\n        \n        // Rounding the value of 'mean' to 3 decimal places\n        const roundedMean = parseFloat(item.mean.toFixed(3)); \n\n        // Creating an object for a chart\n        return {\n            //\"series\" : seriesName, - instead the 'msg.topic' is used\n            \"x\": timestamp_ms,\n            \"y\": roundedMean \n        };\n    });\n\n// Final object for Chart node\nmsg.payload = chartData\nmsg.topic = seriesName\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 900,
        "wires": [
            [
                "fa6bc264411495fa"
            ]
        ]
    },
    {
        "id": "fa6bc264411495fa",
        "type": "ui-chart",
        "z": "1e59d6a3e5a88154",
        "group": "9a3a1f181c9b4cfe",
        "name": "Tmpr 7 days (DB)",
        "label": "Temperature [C] per 7 days (from DB)",
        "order": 7,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "x",
        "xAxisPropertyType": "property",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "y",
        "yAxisPropertyType": "property",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "replace",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": false,
        "removeOlder": "7",
        "removeOlderUnit": "86400",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 1150,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "a36dc8e6f83690ab",
        "type": "join",
        "z": "1e59d6a3e5a88154",
        "name": "Joint T and H",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 380,
        "y": 760,
        "wires": [
            [
                "e51320babcb90c4d"
            ]
        ]
    },
    {
        "id": "e51320babcb90c4d",
        "type": "function",
        "z": "1e59d6a3e5a88154",
        "name": "MQTT to InfluxDB",
        "func": "/*\n * Input MQTT message format (msg.payload):\n * -----------------------------------------\n * {\n *   \"home/thermometer/temperature\":\n *      {\n *          \"value\":24.06, \n *          \"unit\":\"C\"\n *      },\n *   \"home/thermometer/humidity\":\n *      {\n *          \"value\":64.98,\n *          \"unit\":\"%\"\n *      }\n * }\n * \n * Output message format (InfluxDB):\n * -----------------------------------------\n * msg.measurement = measurementName;\n * msg.payload = \n * [\n *      { fields },\n *      { tags   }\n * ];\n */\n\nconst payloadIn = msg.payload;\n\n/* Define field and tag names */\nconst measurementName = \"environment\";\nconst tempTopic = \"home/thermometer/temperature\";\nconst humiTopic = \"home/thermometer/humidity\";\nconst deviceTag = \"home/thermometer/hall\";\n\n// Helper function to safely extract the 'value' field and convert it to a float.\nfunction extractAndParse(topic) {\n    const data = payloadIn[topic];\n\n    // 1. Check if the object for the topic exists\n    if (!data || data.value === null || data.value === undefined) {\n        // If data is missing or value is null/undefined, return null\n        return null;\n    }\n\n    // 2. Access the nested 'value' key and attempt conversion\n    const value = data.value;\n    \n    // parseFloat is usually safe, but check for non-numeric input for robustness\n    if (typeof value === 'number') {\n        return value;\n    }\n    \n    const result = parseFloat(value);\n    \n    // Check if the result is NaN (Not a Number)\n    if (isNaN(result)) {\n        node.warn(`Warning: Could not parse numeric value for topic: ${topic}. Value was: ${value}`);\n        return null;\n    }\n    \n    return result;\n}\n\n// Structure for writing to InfluxDB\nmsg.measurement = measurementName;\nmsg.payload = [\n    {\n        // Correct access path: payloadIn[topic].value\n        temperature: extractAndParse(tempTopic),\n        humidity: extractAndParse(humiTopic)\n    },\n    {\n        device: deviceTag\n    }\n];\n\n// Log the final payload for debugging. Check the Node-RED debug tab.\n// node.warn(JSON.stringify(msg.payload));\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 760,
        "wires": [
            [
                "bd2b0631ae74aa73"
            ]
        ]
    },
    {
        "id": "bd2b0631ae74aa73",
        "type": "influxdb out",
        "z": "1e59d6a3e5a88154",
        "influxdb": "1a463d669d42977d",
        "name": "InfluxDB iot_data 2",
        "measurement": "",
        "precision": "ms",
        "retentionPolicy": "one_month",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 890,
        "y": 760,
        "wires": [],
        "info": "Field 'measurment' is KEY to database. \r\nIn this case, the 'measurement' value is in msg paload:\r\n\r\ne.g.:\r\n[\r\n{\"temperature\":22.1,\"humidity\":70.8},\r\n{\"device\":\"home/thermometer/hall\"}\r\n]\r\n\r\ncode:\r\n\r\nmsg.measurement = measurementName;\r\nmsg.payload = [\r\n    {\r\n        // Correct access path: payloadIn[topic].value\r\n        temperature: extractAndParse(tempTopic),\r\n        humidity: extractAndParse(humTopic)\r\n    },\r\n    {\r\n        device: deviceTag\r\n    }\r\n];\r\n\r\n\r\ninflux\r\nUSE iot_data\r\nSELECT * FROM environment ORDER BY time DESC LIMIT 10\r\n\r\nwhere 'environment' is from msg.measurement"
    },
    {
        "id": "9f91318068d9d9eb",
        "type": "influxdb in",
        "z": "1e59d6a3e5a88154",
        "influxdb": "1a463d669d42977d",
        "name": "Humi DB 7day",
        "query": "SELECT mean(\"humidity\") FROM \"environment\" WHERE time > now() - 7d GROUP BY time(30m) fill(null) tz('Europe/Bratislava')",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "organisation",
        "x": 640,
        "y": 980,
        "wires": [
            [
                "ba72ca10259694b3"
            ]
        ]
    },
    {
        "id": "ba72ca10259694b3",
        "type": "function",
        "z": "1e59d6a3e5a88154",
        "name": "Humi IDB to Chart",
        "func": "/*\n * Input Influx DB message format:\n * Based on: SELECT mean(\"humidity\") FROM \"environment\" WHERE time > now() - 7d GROUP BY time(30m) fill(null) tz('Europe/Bratislava')\n * --------------------------------------------------------------\n * [ ...\n *  {\"time\":\"2025-11-09T18:00:00.000Z\",\"mean\":null},\n *  {\"time\":\"2025-11-09T18:30:00.000Z\",\"mean\":null},\n *  {\"time\":\"2025-11-09T19:00:00.000Z\",\"mean\":72.38141176470586},\n *  {\"time\":\"2025-11-09T19:30:00.000Z\",\"mean\":72.39245791245794},\n *  {\"time\":\"2025-11-09T20:00:00.000Z\",\"mean\":72.10246621621624},\n *   ... ]\n * \n * Output data format for Chart Node:\n * --------------------------------------------------------------\n * msg.topic = \"Humidity\"\n * msg.payload = \n * [\n *      {\"x\":1762714800000,\"y\":72.381},\n *      {\"x\":1762716600000,\"y\":72.392},\n *      {\"x\":1762718400000,\"y\":72.102},\n *      ...\n * ]\n * */\n\n// Array of objects in msg.payload                                  \nconst data = msg.payload;\n\n// Name of series for chart (for legend)\nconst seriesName = \"Humidity\"; // 'Show Legend' must be enabled on Chart Node\n\n// Data conversion to output format:\nconst chartData = data\n    // 1. Filtration - remove data points with 'null' value\n    // (to avoid empty space in graph-line of the Chart node)\n    .filter(item => item.mean !== null && item.mean !== undefined)\n    \n    // 2. Mapping\n    .map(item => {\n        // Časová značka musí byť v milisekundách\n        const timestamp_ms = new Date(item.time).getTime();\n        \n        // Rounding the value of 'mean' to 3 decimal places\n        const roundedMean = parseFloat(item.mean.toFixed(3)); \n\n        // Creating an object for a chart\n        return {\n            //\"series\" : seriesName, - instead the 'msg.topic' is used\n            \"x\": timestamp_ms,\n            \"y\": roundedMean \n        };\n    });\n\n// Final object for Chart node\nmsg.payload = chartData\nmsg.topic = seriesName                      \n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 980,
        "wires": [
            [
                "2ae42b238470f622"
            ]
        ]
    },
    {
        "id": "2ae42b238470f622",
        "type": "ui-chart",
        "z": "1e59d6a3e5a88154",
        "group": "9a3a1f181c9b4cfe",
        "name": "Humi 7 days (DB)",
        "label": "Humidity [%] per 7 days (from DB)",
        "order": 8,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "x",
        "xAxisPropertyType": "property",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "y",
        "yAxisPropertyType": "property",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "replace",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": false,
        "removeOlder": "7",
        "removeOlderUnit": "86400",
        "removeOlderPoints": "",
        "colors": [
            "#ff0000",
            "#0080ff",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 1150,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "055803a80ac55882",
        "type": "inject",
        "z": "1e59d6a3e5a88154",
        "name": "Request to DB",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ReadDdata",
        "payloadType": "str",
        "x": 160,
        "y": 900,
        "wires": [
            [
                "8807db686d3c576c",
                "9f91318068d9d9eb"
            ]
        ],
        "info": "## Description: \r\nTrigger request to DB with 1min cycle\r\n\r\n## Note: \r\nmsg.payload = (String)\"ReadDdata\" - is not relevant, it is ignored by next node (DB)."
    },
    {
        "id": "25dbacc4d6702c50",
        "type": "comment",
        "z": "1e59d6a3e5a88154",
        "name": "Points in chart",
        "info": "# Chart - number of points in chart\n\n## number of measurements on the sensor\ndefine LOOP_TIME 6000\nOne measurement per 6sec => for 60sec is executed 10 measurements. \n60/6 = 10 measurements per minute (10/1min)\n\nPoint Reduction:\n\n Time  |  Agregation   |          Points in chart\n 6 hod | 20:  1m/2min  | (1/2)/1min x 60min x 6hod  = 180\n12 hod | 60:  1m/6min  | (1/6)/1min x 60min x 24hod = 240\n24 hod | 300: 1m/30min |  2/1hod x 168              = 336\n\n180+240+240+336 = 996 points in chart ( RAM must be used ).",
        "x": 1110,
        "y": 220,
        "wires": []
    },
    {
        "id": "e2271755aa7c5b45",
        "type": "global-config",
        "env": [],
        "modules": {
            "@flowfuse/node-red-dashboard": "1.29.0",
            "node-red-contrib-influxdb": "0.7.0",
            "node-red-node-smooth": "0.1.2"
        }
    }
]